extends ./baseof.pug

block head 
	include ./partials/head.pug	
	//- link(rel="preload" href="fonts/NunitoSans/NunitoSans-Bold.woff2" as="font" type="font/woff2" crossorigin)
	//- link(rel="preload" href="fonts/NunitoSans/NunitoSans-Italic.woff2" as="font" type="font/woff2" crossorigin)
	//- link(rel="preload" href="fonts/NunitoSans/NunitoSans-Regular.woff2" as="font" type="font/woff2" crossorigin)

block main  
	.min-h-screen.flex.flex-row.relative.w-screen
		aside.hidden.px-2(class="lg:flex lg:w-1/6")
		//- Don't put h-full on main!
		main.w-full.flex-grow.max-w-5xl(class="px-4 lg:px-6")
			article.prose.prose-base.text-lg
				h1.my-1.text-center #{ title }
				//- .text-center.font-light.text-gray Author:&nbsp; 
				//- .flex.justify-between.items-end
				//- TODO: author icon like https://demo.ghost.io/down-the-rabbit-hole/ or https://chirpy.cotes.page/posts/getting-started/
				.text-center.text-nowrap.text-md.italic
					| By: Matt Piekenbrock,&nbsp;&nbsp;&nbsp; Posted: #{ filters.date(date) }, &nbsp;&nbsp;&nbsp; ~#{filters.readingTime(content)}
				.text-center
					.space-x-1.align-middle
						each cat in categories
							span.border.rounded-sm.py-0.px-1.text-sm #{cat}
				hr.m-1
				#page_content.w-full.pt-4
					!= content 
				br
		aside.hidden.sticky.top-0.flex.overflow-y-visible.h-screen.justify-left.pt-4(class='lg:flex lg:w-1/6')
			- var page_toc = filters.toc(content);
			//- - console.log(page_toc)
			if page_toc
				- var el = filters.toHTML(page_toc);
				!= el 	
			//- 	- el = el.querySelector('ol');
			//- 	//- - el.setAttribute('id', 'scrollspy');
			//- 	- el.classList.add('sticky');
			//- 	- el.classList.add('top-0');
			//- 	- el.classList.add('space-1-2');
			//- 	- el.classList.add('text-neutral-600')
			//- 	- el.classList.add('px-[5px]')
			//- 	- el.classList.add('dark:text-neutral-200')
			//- 	//- - console.log(page_toc)

block scripts
	include ./partials/base_scripts.pug
	link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/fonts.css")
	link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/katex.min.css") 
	link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/github.min.css")
	link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/prism-one-light.css")
	script(src="https://utteranc.es/client.js" repo="peekxc/blog_comments" issue-term="pathname" theme="preferred-color-scheme" crossorigin="anonymous" async)
	script(src="https://cdn.bokeh.org/bokeh/release/bokeh-3.2.0.min.js")
	script.
		var spy = new Gumshoe('#toc li a', {
			offset: function () { 
				header = document.querySelector("header");
				return header.getBoundingClientRect().height; }
		});


			//- .hidden.px-2(class="md:flex md:w-1/6")
	//- .container.px-8.mx-auto.items-center.max-w-screen-xl(style="min-width: 634px;" class="sm:mx-4 md:mx-16 lg:mx-32 sm:shrink-0 max-w-4xl")
	//- .grid.grid-cols-12
	//- 	.container.items-center.max-w-none.m-0.mx-auto.space-y-2(class="col-span-12 md:col-start-1 md:col-span-10").show-col-10-lg
	//- 		article.prose.prose-base.lead-3.prose-blockquote.max-w-4xl.mx-auto(style="min-width: 634px !important;")
	//- 			h1.my-4 #{ title }
	//- 			#page_content.w-full
	//- 			!= content 
	//- 			br
	//- 	div(class="md:block md:visible").show-col-2-lg
	//- 		//- See: https://github.com/11ty/eleventy/issues/1593
	//- 		- console.log("headers: ")
	//- 		- console.log(headers)
	//- 		if headers
	//- 			#scrollspy.sticky.top-0.pl-0.text-md
	//- 				ul#main-menu.menu.text-neutral-600.shadow-none
	//- 					each header in headers 
	//- 						li.py-1 
	//- 							a.menu-item(href="#"+header['id'])=header['text']

block sidebar