extends ./baseof.pug

block head 
	include ./partials/head.pug	
	//- link(rel="preload" href="fonts/NunitoSans/NunitoSans-Bold.woff2" as="font" type="font/woff2" crossorigin)
	//- link(rel="preload" href="fonts/NunitoSans/NunitoSans-Italic.woff2" as="font" type="font/woff2" crossorigin)
	//- link(rel="preload" href="fonts/NunitoSans/NunitoSans-Regular.woff2" as="font" type="font/woff2" crossorigin)


//- Working grid layout: 
//- https://play.tailwindcss.com/kmfwDrCg26?size=804x720
block main  
	//- .w-full.min-h-screen.max-w-screen
	main.container.grid.grid-cols-1(class="md:grid-cols-12")
		aside.hidden(class="md:block md:col-span-2")
		//- NO h-full on main! also delegate min width to higher elements. For some reason mx-auto messes up with col-span
		.mx-auto.w-full(class="px-4 md:px-4 lg:px-6 md:col-span-8" style="max-width: 85ch;")
			article.text-lg.prose.prose-base
				h1.my-1.text-center #{ title }
				//- .font-light.text-center.text-gray Author:&nbsp; 
				//- .flex.justify-between.items-end
				//- TODO: author icon like https://demo.ghost.io/down-the-rabbit-hole/ or https://chirpy.cotes.page/posts/getting-started/
				.text-sm.italic.text-center
					| By: Matt Piekenbrock,&nbsp;&nbsp;&nbsp; Posted: #{ filters.date(date) }, &nbsp;&nbsp;&nbsp; ~#{filters.readingTime(content)}
				.text-center
					.space-x-1.align-middle
						each cat in categories
							span.px-1.py-0.text-sm.rounded-sm.border #{cat}
				hr.m-1
				#page_content.pt-4.w-full
					!= content 
				br
		//- aside.flex.hidden.overflow-y-visible.sticky.top-0.pt-4.h-screen.justify-left
		aside.hidden(class="md:block md:col-span-2")
			- var page_toc = filters.toc(content);
			//- - console.log(page_toc)
			if page_toc
				- var el = filters.toHTML(page_toc);
				!= el 	
			//- 	- el = el.querySelector('ol');
			//- 	//- - el.setAttribute('id', 'scrollspy');
			//- 	- el.classList.add('sticky');
			//- 	- el.classList.add('top-0');
			//- 	- el.classList.add('space-1-2');
			//- 	- el.classList.add('text-neutral-600')
			//- 	- el.classList.add('px-[5px]')
			//- 	- el.classList.add('dark:text-neutral-200')
			//- 	//- - console.log(page_toc)

block scripts
	script(src="/js/gumshoe.polyfills.min.js")
	include ./partials/base_scripts.pug
	link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/fonts.css")
	link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/katex.min.css") 
	link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/github.min.css")
	link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/prism-one-light.css")
	script(src="https://utteranc.es/client.js" repo="peekxc/blog_comments" issue-term="pathname" theme="preferred-color-scheme" crossorigin="anonymous" async)
	script(src="https://cdn.bokeh.org/bokeh/release/bokeh-3.2.0.min.js")
	script.
		var spy = new Gumshoe('#toc li a', {
			offset: function () { 
				header = document.querySelector("header");
				return header.getBoundingClientRect().height; }
		});


			//- .hidden.px-2(class="md:flex md:w-1/6")
	//- .container.items-center.px-8.mx-auto.max-w-screen-xl(style="min-width: 634px;" class="max-w-4xl sm:mx-4 md:mx-16 lg:mx-32 sm:shrink-0")
	//- .grid.grid-cols-12
	//- 	.container.items-center.m-0.mx-auto.space-y-2.max-w-none(class="col-span-12 md:col-start-1 md:col-span-10").show-col-10-lg
	//- 		article.mx-auto.max-w-4xl.prose.prose-base.lead-3.prose-blockquote(style="min-width: 634px !important;")
	//- 			h1.my-4 #{ title }
	//- 			#page_content.w-full
	//- 			!= content 
	//- 			br
	//- 	div(class="md:block md:visible").show-col-2-lg
	//- 		//- See: https://github.com/11ty/eleventy/issues/1593
	//- 		- console.log("headers: ")
	//- 		- console.log(headers)
	//- 		if headers
	//- 			#scrollspy.sticky.top-0.pl-0.text-md
	//- 				ul#main-menu.shadow-none.menu.text-neutral-600
	//- 					each header in headers 
	//- 						li.py-1 
	//- 							a.menu-item(href="#"+header['id'])=header['text']

block sidebar