//- extends ./baseof.pug
//- block main 
//- .container.w-full.px-16.py-2
//- mixin make_tag(text)
//-   span.bg-blue-500.text-white.text-xs.py-1.px-2.rounded-full.mr-1= text

.card.shadow-xs.bg-white.leading-5.max-w-3xl.border-3.border-transparent(class="hover:border-red-400")
  .grid.grid-cols-8.gap-y-1.content-between.px-4.py-2.bg-gray-200.accordion-header.cursor-pointer.bg-cover.bg-clip-border.bg-no-repeat.bg-right.bg-blend-overlay(style="background-image: url(" + filters.url(""+job.background_image+"); background-size: 50% !important;"))
    h4.font-bold.col-span-3 #{ job.job_title } 
    h4.font-bold.col-span-5.justify-self-end #{ job.job_org }
    h4.font-medium.col-span-3 #{ job.job_date }
    h4.font-medium.col-span-5.justify-self-end #{ job.job_loc }
    hr.col-span-full
    .flex.flex-row
      each t in job.tags
        span.bg-gray-300.text-black.text-xs.py-1.px-1.rounded-xs.mr-1(style="white-space: nowrap") #{ t }
    p.col-span-full.text-ellipsis.overflow-hidden.pr-2.italic(class="truncate ...") #{ job.abstract }
  //- .accordion-header.flex.items-center.cursor-pointer.px-2.py-1.bg-gray-100 h4.font-bold More Details  
  .accordion-body.p-2.overflow-auto.px-4.py-2.hidden.border-1
    .card-body.p-2.overflow-auto.px-4.py-2.space-y-1
      .flex.items-center.px-2.py-1.bg-gray-100
        h4.font-bold Job Description
      .p-2.overflow-auto.px-4.py-2
        p.text-gray-700 #{ job.abstract }
      if "publications" in project.expandables
      //- .flex.items-center.px-2.py-1.bg-gray-100
      //-   h4.font-bold Publications
      //- .p-2.overflow-auto.px-4.py-2
      //-   ul.list-disc.ml-6 
      //-     li Pub 2 
      //-     li Pub 2 
      .accordion-header.flex.items-center.cursor-pointer.px-2.py-1.bg-gray-100
        h4.font-bold Software
      .accordion-body.p-2.overflow-auto.px-4.py-2.hidden
        ul.list-disc.ml-6 
          li Software link 


  //- .card.bs-callout.bs-callout-danger
  //-   h4 Experience
  //-   hr
  //-   ul.list-group
  //-     // AFIT ORAU undergraduate/graduate item
  //-     .list-group-item
  //-       h4.list-group-item-heading Research Associate
  //-         small.pull-right
  //-           | Oak Ridge Institute for Science and Education
  //-       h5 Air Force Research Laboratory, WPAFB
  //-         small.pull-right Fall 2018 - Present (also Fall 2017)
  //-       div(style="font-weight: bold;") Studied:
  //-       p.
  //-         As I read more into theoretical foundations of density-based clustering, my research began to intersect Topology Theory and Manifold Learning.
  //-         In 2017, I began to research these connections in a minor capacity with a local research group studying the intersection of TDA and machine learning.
  //-         The research primarily involved understanding the basic foundations of Topology towards extending the Mapper framework, a popular and very general method which has
  //-         been used successfully for data analysis.
  //-       p.
  //-         Starting Fall 2018 I was hired full-time to begin enhancing/extending Mapper, and to assist the team in using Mapper on real-world applications. My
  //-         primary research towards this end has been two-fold: (1) to enable efficient construction of mappers in a multiscale setting, (2) understand
  //-         the full range of use-cases for the Mapper framework. For more details, see below.
  //-       div(style="font-weight: bold;") Published:
  //-       ul
  //-         li M. Piekenbrock and D. Doran. Enabling Multi-Scale Simplical Complex Generation for Mapper. SIAM Journal on Applied Algebra and Geometry, 2018 (intending).
  //-           a(href="resources/indexed_mapper.pdf") &nbsp; [Preliminary draft available]
  //-         p(style="color: red;").
  //-           NOTE: This is paper is still developing, and is made available in spirit of transparent research.
  //-           Some equations may be incorrect and there may be notational errors.
  //-       div(style="font-weight: bold;") Related Materials:
  //-         ul
  //-           li.m-2
  //-             a(href="https://github.com/peekxc/Mapper") Mapper R Package
  //-             p.pull-right
  //-               a(href="")
  //-                 img(src="https://img.shields.io/badge/development-GitHub-orange.svg" alt="Development version on GitHub" title="Development version on GitHub")
  //-               a(href='https://travis-ci.com/peekxc/Mapper.svg?branch=master')
  //-                 img(src='https://travis-ci.com/peekxc/Mapper.svg?branch=master', alt='Travis-CI Build Status')
  //-               a(href="https://peekxc.github.io/Mapper/")
  //-                 img(src="https://readthedocs.org/projects/pip/badge/?version=latest&style=flat")